@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*
{
    margin: 0;
    font-family: "Press Start 2P", system-ui;
}

body
{
    flex-direction: column;
    overflow-x: hidden;
}

header
{
    background-color: rgba(54, 45, 62, 1);
    color: rgba(248, 176, 80, 1);
    padding: 3vh;
    padding: 3vw;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

img
{
 width: 10vw;
 margin-right: 10vw;
 margin-left: 3vw;
 
}

.titulo
{
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    align-items: center;
    height: 10vh;
}

.botao
{
    display: flex;
}

button,
.nome,
.tipo
{
    background-color: black;
    color: rgba(205, 41, 12, 1);
    border-radius: 10px;
    border-color: rgba(205, 41, 12, 1);
    border: solid;
    border-width: 2px;
    padding: 0.5vh;
    padding: 0.5vw;
    font-size: 1.2vw;
}

.login
{
    width: 8vw;
    margin-left: 1vw;
    margin-top: 1vh;
}

.cadastro
{
    width: 17vw;
    margin-left: 1vw;
    margin-top: 1vh;
}

.nome
{
    width: 23vw;
}

.tipo
{
    width: 15vw;
}

p
{
    padding: 0.5vh;
    padding: 0.5vw;
    font-size: 1.5vw;
}

.Pesquisa
{
    background-color: black;
    color: rgba(205, 41, 12, 1);
    padding: 1vh;
    padding: 1vw;
    display: flex;
    justify-content: center;
}

.div
{
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    height: 100vh;
}

.tabela
{
    background-color: rgba(49, 70, 83, 1);
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-color: rgba(205, 41, 12, 1) rgb(0, 0, 0);
}

footer
{
    background-color: rgba(54, 54, 54, 1);
    color: white;
    padding: 4vh;
    font-size: 0.7vw;
    display: flex;
    flex-direction: column;
}

.privacy
{
    margin-top: 4vh;
}

