@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('../assets/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #362D3E;
    border: 6px solid #cd290c;
    color: #ffffff;
    border-radius: 18px;
    height: 60vh;
    width: 40vw;
    font-size: 1.6vh;
}

h1 {
    color: #F8B050;
    margin-bottom: 2%;
}

.form-campos {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 40vw;
    gap: 4%;
    margin-left: 15%;
}

.botoes {
    display: flex;
    justify-content: space-around;
    width: 38vw;
    height: 8vh;
    margin-bottom: 5%;
    margin-top: 5%;
}

.cadastrar,
.voltar {
    background-color: #362D3E;
    color: white;
    width: 20%;
    font-size: 0.7em;
    border: 4px solid #cd290c;
    border-radius: 10px;
    cursor: pointer;
}

.usuario,
.email,
.senha,
.confirma-senha {
    width: 50%;
    height: 23%;
    background: #362D3E;
    border: 4px solid #cd290c;
    border-radius: 10px;
    outline: none;
    color: #ffffff;
    font-size: 0.8em;
}

@media(max-width:780px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Press Start 2P", system-ui;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        background-image: url('../assets/bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
    }
    
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .cadastro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: #362D3E;
        border: 6px solid #cd290c;
        color: #ffffff;
        border-radius: 18px;
        height: 60vh;
        width: 45vw;
        font-size: 1.4vh;
    }
    
    h1 {
        color: #F8B050;
        font-size: 2.3vh;
    }
    
    .form-campos {
        display: flex;
        flex-direction: column;
        height: 40vh;
        width: 35vw;
        gap: 4%;
        margin-left: 15%;
    }
    
    .botoes {
        display: flex;
        justify-content: space-around;
        width: 30vw;
        height: 8vh;
        margin-bottom: 5%;
        margin-top: 8%;
        
    }
    
    .cadastrar,
    .voltar {
        background-color: #362D3E;
        color: white;
        width: 40%;
        font-size: 0.8em;
        align-items: center;
        border: 4px solid #cd290c;
        border-radius: 10px;
        cursor: pointer;
        
    }
    
    .usuario,
    .email,
    .senha,
    .confirma-senha {
        width: 50%;
        height: 23%;
        background: #362D3E;
        border: 4px solid #cd290c;
        border-radius: 10px;
        outline: none;
        color: #ffffff;
        font-size: 0.8em;
    }
}

    @media(max-width:430px){

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Press Start 2P", system-ui;
        }
        
        html {
            scroll-behavior: smooth;
        }
        
        body {
            background-image: url('../assets/bg.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh;
        }
        
        main {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .cadastro {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background-color: #362D3E;
            border: 6px solid #cd290c;
            color: #ffffff;
            border-radius: 18px;
            height: 50vh;
            width: 40vw;
            font-size: 1.3vh;
        }
        
        h1 {
            color: #F8B050;
            font-size: 2.5vh;
        }
        
        .form-campos {
            display: flex;
            flex-direction: column;
            height: 36vh;
            width: 36vw;
            gap: 4%;
            margin-left: 15%;
        }
        
        .botoes {
            display: flex;
            justify-content: space-around;
            width: 35vw;
            height: 5vh;
            margin-bottom: 5%;
            margin-top: 10%;
           
        }
        
        .cadastrar,
        .voltar {
            background-color: #362D3E;
            color: white;
            width: 40%;
            font-size: 0.8em;
            align-items: center;
            border: 4px solid #cd290c;
            border-radius: 10px;
            cursor: pointer;
            
        }
        
        .usuario,
        .email,
        .senha,
        .confirma-senha {
            width: 50%;
            height: 23%;
            background: #362D3E;
            border: 4px solid #cd290c;
            border-radius: 10px;
            outline: none;
            color: #ffffff;
            font-size: 0.6em;
        }

    }

    @media(max-width:380px){

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Press Start 2P", system-ui;
        }
        
        html {
            scroll-behavior: smooth;
        }
        
        body {
            background-image: url('../assets/bg.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh;
        }
        
        main {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .cadastro {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background-color: #362D3E;
            border: 6px solid #cd290c;
            color: #ffffff;
            border-radius: 18px;
            height: 50vh;
            width: 50vw;
            font-size: 1.3vh;
        }
        
        h1 {
            color: #F8B050;
            font-size: 2.5vh;
        }
        
        .form-campos {
            display: flex;
            flex-direction: column;
            height: 30vh;
            width: 40vw;
            gap: 4%;
            margin-left: 15%;
        }
        
        .botoes {
            display: flex;
            justify-content: space-around;
            width: 40vw;
            height: 5vh;
            margin-bottom: 5%;
            margin-top: 10%;
            padding-right: 5%;
            margin-left: 5%;
        }
        
        .cadastrar,
        .voltar {
            background-color: #362D3E;
            color: white;
            width: 40%;
            font-size: 0.8em;
            align-items: center;
            border: 4px solid #cd290c;
            border-radius: 10px;
            cursor: pointer;
            
        }
        
        .usuario,
        .email,
        .senha,
        .confirma-senha {
            width: 50%;
            height: 23%;
            background: #362D3E;
            border: 4px solid #cd290c;
            border-radius: 10px;
            outline: none;
            color: #ffffff;
            font-size: 1.1em;
        }

    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #362D3E;
    border: 6px solid #cd290c;
    color: #ffffff;
    border-radius: 18px;
    height: 80vh;
    width: 35vw;
    font-size: 1.8vh;
}

h1 {
    color: #F8B050;
}

.form-campos {
    display: flex;
    flex-direction: column;
    height: 45vh;
    width: 40vw;
    gap: 4%;
    margin-left: 15%;
}

.botoes {
    display: flex;
    justify-content: space-around;
    width: 40vw;
    height: 8vh;
    margin-bottom: 5%;
    margin-top: 8%;
    padding-right: 5%;
}

.cadastrar,
.voltar {
    background-color: #362D3E;
    color: white;
    width: 13vw;
    font-size: 1.1em;
    align-items: center;
    border: 4px solid #cd290c;
    border-radius: 10px;
    cursor: pointer;
    
}

.usuario,
.email,
.senha,
.confirma-senha {
    width: 50%;
    height: 23%;
    background: #362D3E;
    border: 4px solid #cd290c;
    border-radius: 10px;
    outline: none;
    color: #ffffff;
    font-size: 1.1em;
}

@media(max-width:900px){
    .cadastro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: #362D3E;
        border: 6px solid #cd290c;
        color: #ffffff;
        border-radius: 18px;
        height: 80vh;
        width: 35vw;
        font-size: 1.4vh;
    }
    
    h1 {
        color: #F8B050;
        font-size: 2.5vh;
    }
    
    .form-campos {
        display: flex;
        flex-direction: column;
        height: 40vh;
        width: 35vw;
        gap: 4%;
        margin-left: 15%;
    }
    
    .botoes {
        display: flex;
        justify-content: space-around;
        width: 30vw;
        height: 8vh;
        margin-bottom: 5%;
        margin-top: 8%;
        
    }
    
    .cadastrar,
    .voltar {
        background-color: #362D3E;
        color: white;
        width: 40%;
        font-size: 0.8em;
        align-items: center;
        border: 4px solid #cd290c;
        border-radius: 10px;
        cursor: pointer;
        
    }
    
    .usuario,
    .email,
    .senha,
    .confirma-senha {
        width: 50%;
        height: 23%;
        background: #362D3E;
        border: 4px solid #cd290c;
        border-radius: 10px;
        outline: none;
        color: #ffffff;
        font-size: 1.1em;
    }
}

    @media(max-width:750px){
        .cadastro {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background-color: #362D3E;
            border: 6px solid #cd290c;
            color: #ffffff;
            border-radius: 18px;
            height: 80vh;
            width: 35vw;
            font-size: 1.5vh;
        }
        
        h1 {
            color: #F8B050;
            font-size: 2.5vh;
        }
        
        .form-campos {
            display: flex;
            flex-direction: column;
            height: 45vh;
            width: 35vw;
            gap: 4%;
            margin-left: 15%;
        }
        
        .botoes {
            display: flex;
            justify-content: space-around;
            width: 30vw;
            height: 8vh;
            margin-bottom: 5%;
            margin-top: 10%;
            padding-right: 5%;
            margin-left: 5%;
        }
        
        .cadastrar,
        .voltar {
            background-color: #362D3E;
            color: white;
            width: 40%;
            font-size: 0.8em;
            align-items: center;
            border: 4px solid #cd290c;
            border-radius: 10px;
            cursor: pointer;
            
        }
        
        .usuario,
        .email,
        .senha,
        .confirma-senha {
            width: 50%;
            height: 23%;
            background: #362D3E;
            border: 4px solid #cd290c;
            border-radius: 10px;
            outline: none;
            color: #ffffff;
            font-size: 0.8em;
        }

    }

    @media(max-width:500px){
        .cadastro {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background-color: #362D3E;
            border: 6px solid #cd290c;
            color: #ffffff;
            border-radius: 18px;
            height: 80vh;
            width: 60vw;
            font-size: 1.3vh;
        }
        
        h1 {
            color: #F8B050;
            font-size: 2.5vh;
        }
        
        .form-campos {
            display: flex;
            flex-direction: column;
            height: 40vh;
            width: 60vw;
            gap: 4%;
            margin-left: 15%;
        }
        
        .botoes {
            display: flex;
            justify-content: space-around;
            width: 60vw;
            height: 7vh;
            margin-bottom: 5%;
            margin-top: 10%;
            padding-right: 5%;
            margin-left: 5%;
        }
        
        .cadastrar,
        .voltar {
            background-color: #362D3E;
            color: white;
            width: 40%;
            font-size: 0.6em;
            align-items: center;
            border: 4px solid #cd290c;
            border-radius: 10px;
            cursor: pointer;
            
        }
        
        .usuario,
        .email,
        .senha,
        .confirma-senha {
            width: 50%;
            height: 23%;
            background: #362D3E;
            border: 4px solid #cd290c;
            border-radius: 10px;
            outline: none;
            color: #ffffff;
            font-size: 1.1em;
        }


    }
