@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #EF5350;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 3vw; 
}


.logo {
    width: 12vw; 
    height: auto; 
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #42A5F5;
     border: #42A5F5;
    border-radius: 20px;
    width: 50%;
    padding: 1%;
}

.cabecalho h1 {
    color: white;
    font-size: 2vw; 
    text-align: center;
}


.espaco-direita {
    width: 15vw;  
    height: 15vh; 

}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

.hero{
    display: flex;
    justify-content: space-around;
    height: auto;
}

aside{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 19vw;
    gap: 3%;
}


.container-cima{
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 83vh;
    background-color: white;
    margin-right: 60px;
}

.buscar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 10px;
}

.busca-nome,
.busca-tipo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    border-radius: 10px;
    height: 7vh;
    padding: 1.8%;
    font-size: 0.8em;
}

/* Tamanhos diferentes */
.busca-nome {
    width: 60%;
}
.busca-tipo {
    width: 35%;
}


.busca-nome input,.busca-tipo input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: #cd290c;
    font-size: 1em;
}


.seta{
    width: 13%;
}

.lupa{
    width: 4.5%;
}

.joystick{
    width: 100%;
}

.pokemon-layer-1{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 32vh;
    padding: 2%;
}
.pokemon-layer-2{
    display: flex;
        justify-content: space-around;
    flex-direction: row;
    height: 32vh;
    padding: 2%;
}

.pokemon-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    color: #cd290c;
    border-radius: 18px;
    height: 25vh;
    width: 17vw;
    font-size: 1.8vh;
}
.pokemon-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    color: #cd290c;
    border-radius: 18px;
    height: 25vh;
    width: 17vw;
    font-size: 1.8vh;
    
}
.pokemon-3{
        display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    color: #cd290c;
    border-radius: 18px;
    height: 25vh;
    width: 17vw;
    font-size: 1.8vh;
    
}
.pokemon-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    color: #cd290c;
    border-radius: 18px;
    height: 25vh;
    width: 17vw;
    font-size: 1.8vh;
}
.pokemon-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    color: #cd290c;
    border-radius: 18px;
    height: 25vh;
    width: 17vw;
    font-size: 1.8vh;
    
}
.pokemon-6{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    color: #cd290c;
    border-radius: 18px;
    height: 25vh;
    width: 17vw;
    font-size: 1.8vh;
    
}

.poke-cima{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 60%;
    gap: 15%;
    margin-left: 15%;
}
.poke-baixo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;
   gap: 3%;
}

.botao-editar{
    width: 30%;
    height: 60%;
    font-size: 0.7em;
    background-color: #000000;
    color: #cd290c;
    border-color: #cd290cf1;
    border-radius: 10px;
      cursor: pointer;
}
.botao-excluir{
   width: 30%;
    height: 60%;
    font-size: 0.7em;
    background-color: #000000;
    color: #cd290c;
    border-color: #cd290cf1;
    border-radius: 10px;
      cursor: pointer;
}

.add-layer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 14vh;
}

.botao-add{
    width: 23vw;
    height: 5vh;
    font-size: 0.7em;
    background-color: #000000;
    color: #cd290c;
    border-color: #cd290cf1;
    border-radius: 6px;
    cursor: pointer;
}

.container-baixo{
display: flex;
justify-content: space-between;
    flex-direction: row;
    width: 75vw;
    height: 60vh;
    margin-right: 60px;
    margin-top: 2%;
}
.add-baixo-esq{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 46vw;
    height: 86%;
    background-color: white;
    margin-top: 2%;
}
.add-baixo-dir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 26vw;
    height: 86%;
    background-color: white;
    margin-top: 2%;
    gap: 14%;

}

.edit-add-layer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 10vh;
    padding: 3%;
}

.add-nome,
.add-tipo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    border-radius: 10px;
    height: 7vh;
    padding: 1.8%;
    font-size: 0.8em;
    width: 95%;
}

.add-nome input,.add-tipo input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: #cd290c;
    font-size: 1em;
}

.add-seta{
    width: 7%;
}

.add-layer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 40vh;
}
.confirm-layer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 10vh;
}

.botao-salvar{
    width: 30%;
    height: 60%;
    font-size: 0.7em;
    background-color: #000000;
    color: #cd290c;
    border-color: #cd290cf1;
    border-radius: 10px;
      cursor: pointer;
}
.botao-cancelar{
   width: 30%;
    height: 60%;
    font-size: 0.7em;
    background-color: #000000;
    color: #cd290c;
    border-color: #cd290cf1;
    border-radius: 10px;
      cursor: pointer;
}

.botao-seguranca{
width: 17vw;
    height: 15vh;
    font-size: 0.7em;
    background-color: #000000;
    color: #cd290c;
    border-color: #cd290cf1;
    border-radius: 10px;
    cursor: pointer;
}
.botao-confirmacao{
    width: 19vw;
    height: 5vh;
    font-size: 0.7em;
    background-color: #000000;
    color: #cd290c;
    border-color: #cd290cf1;
    border-radius: 10px;
    cursor: pointer;
}
.botao-cancelar{
    width: 19vw;
    height: 5vh;
    font-size: 0.7em;
    background-color: #000000;
    color: #cd290c;
    border-color: #cd290cf1;
    border-radius: 10px;
    cursor: pointer;
}